# shellcheck shell=bash

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

export XDG_CACHE_HOME=${XDG_CACHE_HOME:-"$HOME"/.cache}
export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-"$HOME"/.config}
export XDG_DATA_HOME=${XDG_DATA_HOME:-"$HOME"/.local/share}
export XDG_STATE_HOME=${XDG_STATE_HOME:-"$HOME"/.local/state}
export XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR:-"$TMPDIR"}

# https://github.com/getsentry/sentry/blob/master/.envrc
# Upgrading Mac can uninstall the Command Line Tools, thus, removing our access to git
# The message talks about xcrun, however, we can use the lack of git as a way to know that we need this
# xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools),
# missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun
if [ "$(uname -s)" == "Darwin" ] && [ ! -f "/Library/Developer/CommandLineTools/usr/bin/git" ]; then
    echo -e "$(tput setaf 1)\nERROR: Complete the interactive installation (10+ mins) of the Command Line Tools.$(tput sgr0)"
    xcode-select --install
    return 1
fi


# If .env missing; restore from .env.sample and validate
# See https://github.com/direnv/direnv/wiki/.envrc-Boilerplate
if [[ -f config/.env.tmpl ]]; then
  if ! command -v gomplate > /dev/null; then
    echo 'Run install.sh before activating direnv'
  elif [[ ! -f .env ]]; then
    gomplate -f config/.env.tmpl -o .env
  fi
fi

dotenv_if_exists || direnv status # https://direnv.net/man/direnv-stdlib.1.html

# Add the appropriate Homebrew bin directory based on OS
if [[ "$(uname)" == "Darwin" ]]; then
  PATH_add /opt/homebrew/bin
else
  PATH_add /home/linuxbrew/.linuxbrew/bin
fi

export EDITOR="vim"
export VISUAL="code -n"
export TERMINAL="kitty"
export BROWSER="vivaldi"
export PAGER="less"

# XDG_BIN_HOME
PATH_add "${XDG_BIN_HOME:-$HOME/.local/bin}"

# pipx bin
PATH_add "$HOME/.local/pipx/bin"

# npm bin
PATH_add "${XDG_DATA_HOME}/npm/bin"